#!/usr/bin/make -f

%:
	dh ${@} --with autotools_dev

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/modet

override_dh_auto_test:
	# disabled

override_dh_strip:
	dh_strip --dbg-package=modet-dbg
